@using Portfolio.Entities

<div class="card card-border border-radius">
    @* <div class="f-carousel">
        <a class="f-carousel__slide" data-fancybox="@Project.Title" data-caption="@Project.Description" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_mono.png">
            <img width="50" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_mono.png" alt="Imagen 1">
        </a>
        <a class="f-carousel__slide" data-fancybox="@Project.Title" data-caption="@Project.Description" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_mono.png">
            <img width="50" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_mono.png" alt="Imagen 2">
        </a>
        <a class="f-carousel__slide" data-fancybox="@Project.Title" data-caption="@Project.Description" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_mono.png">
            <img width="50" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_mono.png" alt="Imagen 3">
        </a>
    </div> *@

    @* <img class="card-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_mono.png" alt="Project Image"> *@

    <div>
        <h3 class="secondary-text-color text-center" style="font-weight:800">@Project.Title</h3>
        <p class="text-small">@Project.Description</p>
    </div>

    <div class="row">
        @if (Project.Url != null)
        {
            <a target="_blank" href="@Project.Url" class="button button-text">Ver proyecto</a>
        }
        else
        {
            <p class="button button-text">Privado</p>
        }
    </div>
</div>

@code {
    [Parameter]
    public required ProjectEntity Project { get; init; }
}
